.profile{
    margin-top: 27px;
    border: 1px solid #E8EEF2;
    background-color: #FFFFFF;
    width: 308px;
    height: 550px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
.profile_data{
    height: 216px;
    padding-left: 100px;
    padding-top: 0.1rem;
    background-color: #E8EEF2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    justify-content: space-between;
}

.profile_close_button{
    cursor: pointer;
    margin-left: 170px;
    margin-top: 0.5rem;
}
.profile_close_button:hover{
    background-color : gray;
    border-radius: 100px;
}

.account_data{
    list-style: none;
    height: 291px;
    overflow: auto;
}
.account_data_item{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 40px;
    background-color: #E8EEF2;
    align-items: center;
    padding-left: 1rem;
    padding-top: 0.1rem;
}

@media screen and (min-width : 900px) and (max-width : 1080px) {
    .profile{
        width: 280px;
        margin-right: 0rem;
        /* margin-left: -6rem; */
        margin-left: -200px;
    }

    .profile_close_button{
        cursor: pointer;
        margin-left: 145px;
        margin-top: 0.5rem;
    }
    
}