.data_backup_section{
    margin-left: -50px;
    width: 100%;
    margin-top: 60px;
}
.paragraph{
    margin-left: 325px;
    /* margin-right: 175px; */
}
.first_line{
    margin-left: 2rem;
}
.second_line{
    margin-left: 5rem;
}

.data_backup_btn{
    margin-left: 600px;
    margin-top: 1rem;
}

/* @media screen and (max-width : 1160px) {
    .paragraph{
        margin-left: 250px;
    }
    .data_backup_btn{
        margin-left: 400px;
    }
} */

@media screen and (min-width : 1000px) and (max-width : 1160px){
    .paragraph{
        margin-left: 150px;
    }
    .data_backup_btn{
        margin-left: 450px;
    }
}
@media screen and (min-width : 900px) and (max-width : 1000px){
    .paragraph{
        margin-left: 80px;
    }
    .data_backup_btn{
        margin-left: 400px;
    }
}