.help_section{
    height: 506px;
    width: 290px;
    margin-top: 23px;
    border: 1px solid #E8EEF2;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    z-index: -1;
}

.upper_section{
    margin-top: 0px;
    height: 300px;
    overflow: auto;
}


.lower_container{
    height: 140px;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    border: 1px solid #E8EEF2;
    background: linear-gradient(180deg, #A3DAFF 0%, rgba(232, 238, 242, 0) 100%);
}
.lower_container p{
    cursor: pointer;
}

.header_help_section{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* justify-content: center; */
    /* justify-items: center; */
    height: 45px;
    background-color: #E8EEF2;
    padding-top: 1rem;
}

.header_help{
    margin-left: 1.5rem;
}

.close_button_help{
    cursor: pointer;
    margin-left: 1.5rem;
    margin-top: -0.5rem;   
    border-radius: 50%; 
}

.close_button_help:hover{
    background-color: gray;
}

.help_data_item {
   display: grid;
   grid-template-columns: 1fr 4fr;
   align-items: center;
}


@media  screen and (max-width : 900px){
    .help_section{
        height: 506px;
        width: 260px;
    }

    .header_help_section{
        width: 260px;
        display: grid;
        grid-template-columns: 4fr 1fr;
        
    }
    .close_button_help{
        margin-right: 0.5rem;
        margin-top: -0.5rem;
    }
    
}