.setup-container {
    margin-top: 40px;
    /* max-width: 500px; */
    height: 100px;
    margin-left: 250px;
    
}

.account-payable{
    width: 150px;
    margin-left: 400px;
    margin-top: 10px;
    align-items: center;
    padding-top: 1rem;
    
}
.account-payable-name{
    background-color: #297ECC;
    height: 50px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.account-payable-money{
    height: 50px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    background-color: #F2F2F2;
}