.user_manual_main{
    height: 800px;
}

.playerWrapper {
    position: relative;
    padding-top: 56.25%;
}

.reactPlayer {
    position: absolute;
    top: 0;
    left: 220px;
}

.user_manual_button{
    margin-top: 150px;
    position: relative;
}




  
