.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    max-height: 1000px;
    overflow: auto;
    width: 993px;
    border: solid 2px #D1D1D1;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 30px;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    z-index: -1;
    background-color: #FFFFFF;
}
.grid_container{
    margin-left: 0.5rem; 
}


@media only screen and (max-width : 1050px) {
    .container{
        max-height: 450px;
        overflow: auto;
        width: 830px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width : 768px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        max-height: 450px;
        width: 500px;
    }
}

