.faq_section{
    margin-top: 70px;
    margin-left: 150px;
    width: 900px;
    height: 100vh-75px;
}

@media screen and (max-width : 900px) {
    .faq_section{
        margin-top: 70px;
        margin-left: 100px;
    }
}
