.faq_description{
    height: 45px;
    width: 650px;
    border: 1px solid #072359;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: #072359;
    display: grid;
    grid-template-columns: 95% 5%;
    cursor: pointer;
}


.faq_description_paragraph{
    height: 100px;
    width: 720px;
    background-color: #FFFFFF;
    border: 2px solid #29CC97;
    border-radius: 20px;
    margin-left : 75px;
    padding-left: 2rem;
    padding-top: 35px;
    margin-top: -20px;
    margin-bottom: 30px;

}


@media screen and (min-width: 900px) and (max-width : 1000px) {

    .faq_description{
        height: 45px;
        width: 600px;
        border: 1px solid #072359;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        background-color: #072359;
        display: grid;
        grid-template-columns: 95% 5%;  
        font-size: small;
    }


    .faq_description_paragraph{
        height: 100px;
        width: 600px;
        background-color: #FFFFFF;
        border: 2px solid #29CC97;
        border-radius: 20px;
        margin-left : 50px;
        padding-left: 1rem;
        padding-top: 35px;
        padding-right: 1rem;
    }
}