

li{
    display: grid;
    grid-template-columns: 15% 85%;
    justify-content: center;
    /* align-items: center; */

    /* margin-top: 0.2rem; */
    
}
li:hover{
    color: #D1D1D1;
    cursor: pointer;
}