.root_container{
    width: 440px;
    margin-top: 40px;
    margin-left: 250px;
    /* height: 281px; */
    /* border: 1px solid #A5A5A5; */
}
.title_container{
    width: 440px;
    border: 1px solid #072359;
    padding-left: 2rem;
    background-color: #072359;
    height: 30px;
    padding-top: 0.5rem;
}



.data_container_item{
    width: 440px;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #A5A5A5;
    padding-top:   0.5rem;
    padding-left: 2rem;
    margin-left: 0;
   
}

.button_container{
    margin-top: 25px;
    margin-bottom: 60px;
}

@media screen and (max-width : 900px) {
    .root_container{
        width: 400px;
        margin-top: 40px;
        margin-left: 150px;
    }
}