.main_body{
    width: 871px;
    height: 419px;
    margin-top: 50px;
    margin-left: 250px;
    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000012;

}

.body_title{
    margin-left: 1rem;
    height: 50px;
    display: grid;
    grid-template-columns: 95% 5%;
    margin-bottom: 2rem;
}

.main_title{
    margin-left: 300px;
    margin-top: 2rem;
    
}

.closeButton{
    /* margin-top: 0; */
    margin-left: 0.79rem;
    cursor: pointer;
}

.closeButton:hover{
    background-color: gray;
}


.lower_body{
    margin-left: 2rem;
}

.lower_body_item1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2.5rem;
}
.lower_body_item2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
