.body-items{
    display: grid;
    grid-template-columns: 25% 10% 65%;
}

.button-property{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 1rem;
}
.button-group-alt-shift{
    margin-top: 0.8rem;
}


.buttons{
    margin-right: 1rem;
    background-color: #072359;
}

.buttonKey{
    height: 22px;
    width: 22px;
}

.button-add{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    height: 22px;
}
.outerShift{
    background-color: #072359;
}

.buttonShift{
    height: 22px;
    width: 40px;
}

.outerAlt{
    background-color: #072359;
}
.buttonAlt{
    height: 22px;
    width: 40px;
}

.mid-buttonAdd{
    margin-top: 2.65rem;
}