.icon{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 10px;
    background-color: #E8EEF2;
    padding-left: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.right_nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-right: 1rem;
}

.help_icon{
    display: flex;
    /* gap: 2rem; */
    border-radius: 100px;

}

@media screen and (max-width: 900px) {
    .icon {
     margin-top: 0;
    }
}