.notification{
    margin-top: 35px;
    border: 1px solid #E8EEF2;
    background-color: #FFFFFF;
    width: 330px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);  
}

.list{
    display: grid;
    grid-template-columns: 75% 25%;
}

.header{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 45px;
    padding-top: 1rem;
    background-color: #E8EEF2;
}
.notification_item{
    overflow: auto;
    height: 405px;
}

.notification_header{
    margin-left: 1.5rem;
}

.notification_close_button{
    cursor: pointer;
    margin-left: 2rem;
    margin-top: -0.5rem;
}

.notification_close_button:hover{
    background-color: gray;
    border-radius: 100px;
}

@media screen and (max-width : 900px) {
    .notification{
        width: 280px;
    }

    .header{
        width: 280px;
    }
    .notification_header{
        margin-left: 1rem;
    }
    /* .notification-close-button{
        
       
    } */
    
}