.help_support_container{
    margin-left: 50px;
    width: 700px;
    height: 550px;
    /* border: 1px solid gray; */
    padding-top: 2rem;
    padding-left: 2rem;
    /* overflow: hidden; */
}


.nav_button{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    justify-content: space-between;
    width: 500px;
    height: 40px;
}

.main_section_body{
    margin-top: 10px;
    margin-left: 0;
}

.main_section_body_item{    
    width: 650px;
    height: 105px;
    padding-top: 0.5rem;
    padding-left: 2rem;
    margin-bottom: 10px;
}

.successTickets {
    border-top: 1px solid #29CC97;
    border-right: 1px solid #29CC97;
    border-bottom: 2px solid #29CC97;
    border-left: 5px solid #29CC97 ;
}

.pendingTickets{
    border-top: 1px solid #EB4C4D;
    border-right: 1px solid #EB4C4D;
    border-bottom: 2px solid #EB4C4D;
    border-left: 5px solid #EB4C4D ;
}

.main_section_body_item_title{
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 0.5rem;
}
.main_section_body_item_body{
    margin-top: 0.5rem;
}

@media screen and (max-width : 900px) {
    .help_support_container{
        margin-top: -85px;
        width: 650px;
    }

    .nav_button{
        width: 470px;
        margin-top: 85px;
    }

    .main_section_body_item{
        width: 600px;
        overflow: auto;
    }

    .main_section_body_item_title{
        margin-right: 0.5rem;
    }
}