.setting{
    height: 550px;
    width: 300px;
    margin-top: 35px;
    border: 1px solid #E8EEF2;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.setting_header{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 45px;
    padding-top: 1rem;
    background-color: #E8EEF2;
}

.setting_header_setting{
    margin-left: 2rem;
}

.setting_item{
    height: 491px;
    overflow: auto;
}

.setting_close_button{
    cursor: pointer;
    margin-left: 1.8rem;
    margin-top: -0.5rem;
}
.setting_close_button:hover{
    background-color : gray;
    border-radius: 100px;
}

@media screen and (min-width : 900px) and (max-width : 1080px) {
    .setting{
        width: 270px;
        margin-right: 2rem;
        margin-left: -3rem;

    }
    .setting_header_setting{
        margin-left: 1.5rem;
    }
    .setting_close_button{
        margin-left: 1.5rem;
        margin-top: -0.5rem;
    }
}